@model Test.Models.Product

@{
    ViewData["Title"] = "Create";
}

<br />


@*group-list-button-Admin*@
<div class="card4" style="width: 20rem; margin-top: -2.4%;">
    <div class="card-body" style="background-color: black;">
        <h3 class="card-title text-center" style="color:white;">QUICK.COM</h3>
        <hr />
        <form asp-controller="Home" asp-action="Index" method="post">
            <div class="input-group">
                <input type="search" class="form-control rounded" name="usertext" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
                <button type="submit" class="btn btn-outline-primary">Search</button>
            </div>
        </form>
        <br />
        <div class="list-group">
            <a href="@Url.Action("CustomerOrders","Admin")" class="list-group-item">Customer Orders</a>
            <a href="@Url.Action("HomeProduct","Admin")" class="list-group-item">Home-product</a>
            <a asp-action="Create" class="list-group-item">Home product<i class="fas fa-plus-square ml-4"></i></a>
            <a href="@Url.Action("desktop","Admin")" class="list-group-item">desktop</a>
            <a asp-action="DesktopUpload" class="list-group-item">DesktopUpload<i class="fas fa-plus-square ml-3"></i></a>
            <a href="@Url.Action("Laptops","Admin")" class="list-group-item">Laptops</a>
            <a asp-action="LaptopUpload" class="list-group-item">LaptopUpload<i class="fas fa-plus-square ml-4"></i></a>
            <a href="@Url.Action("Baik","Admin")" class="list-group-item">Motor-Baik</a>
            <a asp-action="BaikUpload" class="list-group-item">BaikUpload<i class="fas fa-plus-square ml-5"></i></a>
            <a href="@Url.Action("manswatch","Home")" class="list-group-item">mens-watch</a>
            <a href="@Url.Action("smartphone","Home")" class="list-group-item">smart-phone</a>
            <a href="@Url.Action("smarttv","Home")" class="list-group-item">smart-tv</a>
            <a href="@Url.Action("Refrigerator","Home")" class="list-group-item">Refrigerator</a>
            <a href="@Url.Action("Refrigerator","Home")" class="list-group-item">Refrigerator</a>
        </div>
    </div>
</div>
<div class="row">
    <div class=""style=" margin-top: -54.4%;margin-left:21.6%;width: 77%;">
        
            <div class="card-content">
                <style>
                    .card-content {
                     
                        border: 3px solid #fff;
                    }
                </style>
                <br />
                <br />
                <form asp-action="Create" enctype="multipart/form-data" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group col-md-11 ml-5">
                        <label asp-for="CompanyName" class="control-label"></label>
                        <input asp-for="CompanyName" class="form-control" />
                        <span asp-validation-for="CompanyName" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-11 ml-5">
                        <label asp-for="Details" class="control-label"></label>
                        <input asp-for="Details" class="form-control" />
                        <span asp-validation-for="Details" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-11 ml-5">
                        <label asp-for="Price" class="control-label"></label>
                        <input asp-for="Price" class="form-control" />
                        <span asp-validation-for="Price" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-11 ml-5">
                        <label asp-for="Description" class="control-label"></label>
                        <textarea asp-for="Description" class="form-control" rows="5" style="resize:none"></textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-11 ml-5">
                        <label asp-for="TextBox" class="control-label"></label>
                        <textarea asp-for="TextBox" class="form-control" rows="5"></textarea>
                        <span asp-validation-for="TextBox" class="text-danger"></span>
                    </div>


                    <div class="form-group col-md-11 ml-5">
                        <label asp-for="Image" class="control-label"></label>
                        <input asp-for="Image" type="file" class="form-control" />
                        <span asp-validation-for="Image" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-11 ml-5">
                        <input type="submit" value="Upload" class="btn btn-primary" />
                    </div>
                    <div class="offset-md-9">
                        <a asp-action="Index" class="btn btn-danger btn-sm">Back to List</a>
                    </div>
                </form>
            </div>
        </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}






